button {

}

/* main-content */

.p_title {
    font-size: 18px;
    font-weight: 700;
}

.league_content_title {
    display: flex;
    justify-content: space-between;
    background-color: rgb(232, 232, 232);
    padding: 10px 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.league_content_title a {
    text-decoration: underline black;
}

.league_content_title .show_matches {
    display: flex;
    color: #454545;
}

.border_red {
    border: 1px solid red;
}

.matches_container {
    display: none;
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease-in-out;
}

.match {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 4px 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.match .match_status {
    width: 15%;
    text-align: center;
    font-size: 14px;
}

.match .team_name {
    display: block;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-left: 20px;
    padding-left: 10px;
}

.match .team_name p:hover {
    text-decoration: underline;
}

.match .team_name img {
    margin-right: 10px;
}

.match .goals {
    margin-left: 10px;
}

.toggle_matches_btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* country */

.country_content {
    display: flex;
    align-self: center;
    justify-content: start;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 20px;
}

.status_menu {
    margin-bottom: 20px;
}

.status_menu button {
    padding: 5px 7px;
    border-radius: 10px;
    margin-right: 10px;
    font-weight: 500;
}

.active_button {
    background-color: #FF0046;
    color: white;
}

.match_time {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.match_time p {
    font-size: 14px;
}

.match_time i {
    padding-right: 0px;
}

/* league */

.league_info {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.leagues_menu {
    margin: 20px -20px;
}

.leagues_menu a{
    margin-left: 20px;
    border-radius: 5px;
    padding: 5px 10px;
}

.leagues_menu a:hover {
    background-color: #FF0046;
    color: white;
}

/* table */

.table-tabs {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
}

.table-tabs button {
    padding: 8px 16px;
    background-color: #14212f;
    color: #ccc;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.table-tabs .active {
    background-color: #0f6fff;
    color: white;
}

.league-table {
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;
    color: #000000;
    font-size: 14px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.league-table th, .league-table td {
    padding: 10px;
    text-align: center;
}

.team-cell {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-start;
}

.team-cell span:hover{
    text-decoration: underline;
}

.team-logo {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.position {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 20%;
    color: #1c1c1c;
    font-size: 12px;
    line-height: 22px;
    font-weight: bold;
}

.cl {
    background-color: #0052ce;
}

.le {
    background-color: #c55c37;
}

.downgrade {
    background-color: #d30000;
}

/* league_lines */

.league_lines_content {
    margin-top: 10px;
    margin-left: 10px;
}