{% extends 'base.html' %}
{% load static %}
{% block title %}Домашня{% endblock title %}
{% block link_css %}
<link href="{% static 'css/football/home.css' %}" rel="stylesheet">
{% endblock link_css %}

{% block content %}
<div class="content_header" style="display:flex; justify-content:space-between;">
    <p class="p_title">МАТЧІ:</p>
    <div class="date-picker" style="display:flex;">
        <button onclick="changeDate(-1)" style="margin-right: 10px;">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
        <div class="date-content">
            <i class="fa-regular fa-calendar-days"></i>
            <span class="date-text" id="selected-date">
                {{ selected_date }}
            </span>
        </div>
        <button onclick="changeDate(1)" style="margin-left: 10px;">
            <i class="fa-solid fa-arrow-right"></i>
        </button>
    </div>
</div>
<div class="league_content">
    {% for league_info in leagues_with_matches %}
        {% if league_info.matches %}
            <div class="league_content_title">
                <p>
                    <i class="fa-regular fa-star"></i>
                    <img src="{{ league_info.league.country.image.url }}" width="25">
                    <span style="margin-left: 10px;">{{ league_info.league.country.name_uk | upper }}:</span>
                    <a href="">{{ league_info.league.name_uk }}</a>
                    <img src="{{ league_info.league.image.url }}" width="25">
                </p>
                <div class="show_matches">
                    <p style="margin-right: 10px;">показати матчі ({{ league_info.matches|length }})</p>
                    <button class="toggle_matches_btn" data-league-id="{{ league_info.league.id }}">
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>
                </div>
            </div>
            <div class="matches_container" id="matches_{{ league_info.league.id }}">
                {% for match in league_info.matches %}
                    <div class="match">
                        <i class="fa-regular fa-star"></i>
                        <p class="match_status">
                        {% if match.status == 'Запланований' %}
                            {{ match.match_time }}
                        {% else %}
                            Заверш.
                        {% endif %}
                        </p>
                        <div class="team_name">
                            <p><a href=""><img src="{{ match.home_team.image.url }}" width="20">{{ match.home_team }}</a></p>
                            <p><a href=""><img src="{{ match.away_team.image.url }}" width="20">{{ match.away_team }}</a></p>
                        </div>
                        <div class="goals">
                            <p>{{ match.home_goals }}</p>
                            <p>{{ match.away_goals }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
{% block link_js %}
<script src="{% static 'js/football/home.js' %}"></script>
{% endblock link_js %}


