{% extends 'base.html' %}
{% load static %}
{% block title %}Домашня{% endblock title %}
{% block link_css %}
<link href="{% static 'css/football/home.css' %}" rel="stylesheet">
{% endblock link_css %}

{% block content %}
<div class="content_header" style="display:flex; justify-content:space-between;">
    <p class="p_title">МАТЧІ:</p>
    <div class="date-picker" style="display:flex;">
        <button onclick="changeDate(-1)" style="margin-right: 10px;">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
        <div class="date-content">
            <i class="fa-regular fa-calendar-days"></i>
            <span class="date-text" id="selected-date">
                {{ selected_date }}
            </span>
        </div>
        <button onclick="changeDate(1)" style="margin-left: 10px;">
            <i class="fa-solid fa-arrow-right"></i>
        </button>
    </div>
</div>
<div class="league_content">
    {% for league_info in leagues_with_matches %}
        {% if league_info.matches_by_tour %}
            <div class="league_content_title">
                <p>
                    <i class="fa-regular fa-star"></i>
                    <img src="{{ league_info.league.country.image.url }}" width="25">
                    <span style="margin-left: 10px;">{{ league_info.league.country.name_uk | upper }}:</span>
                    <a href="{{ league_info.league.get_absolute_url }}">{{ league_info.league.name_uk }}</a>
                    <img src="{{ league_info.league.image.url }}" width="25">
                </p>
                <div class="show_matches">
                    <p>показати матчі </p>
                    <button class="toggle_matches_btn" data-league-id="{{ league_info.league.id }}">
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>
                </div>
            </div>
            <div class="matches_container" id="matches_{{ league_info.league.id }}">
                {% for tour_number, matches in league_info.matches_by_tour.items %}
                    <div class="tour-header">Раунд {{ tour_number }}</div>
                    {% for match in matches %}
                        {% include 'football/includes/matches_lines.html' %}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
    {% empty %}
        <p style="font-size: 18px; margin-top: 20px">Сьогодні матчів немає.</p>
    {% endfor %}
</div>

{% endblock %}
{% block link_js %}
<script src="{% static 'js/football/home.js' %}"></script>
{% endblock link_js %}


